@model DisplayViewModel
@{
    Layout = null;
    string roomStatus = "available";
    bool isAvailable = true;
    MeetingViewModel firstMeeting = null;

    if (Model.Meetings?.Any() == true && Model.Meetings.FirstOrDefault().StartDateTime <= DateTime.Now)
    {
        roomStatus = "busy";
        isAvailable = false;
        firstMeeting = Model.Meetings.First();
    }
    else if (Model.Meetings?.Any() == true && (Model.Meetings.FirstOrDefault().StartDateTime - DateTime.Now).TotalMinutes < 15)
    {
        roomStatus = "almost";
        isAvailable = false;
        firstMeeting = Model.Meetings.First();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/display.css" />
</head>
<body class="@roomStatus">
    <div class="container pt-5">
        <input type="hidden" asp-for="MeetingRoomId" />
        <div class="row">
            <div class="col">
                <h2>@Model.MeetingRoomName <span id="time">@DateTime.Now.ToShortTimeString()</span></h2>
                <br />
                <h3 id="meeting-time">@(isAvailable ? string.Empty : $"{firstMeeting.StartShortTimeString} - {firstMeeting.EndShortTimeString}")</h3>
                <br />
                <h3 id="attending-company">@(isAvailable ? string.Empty : firstMeeting.AttendingCompany)</h3>
                <br />
                <p id="attendees">@((!isAvailable && firstMeeting.Attendees?.Any() == true) ? string.Join(" ", firstMeeting.Attendees) : string.Empty)</p>
            </div>
            <div class="col">
                <h2>Upcoming meetings</h2>
                <br />
                <ul id="meetings">
                    @foreach (var item in Model.Meetings)
                    {
                        <li id="@item.Id">@item.AttendingCompany @item.StartShortTimeString - @item.EndShortTimeString</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <script src="~/js/getMeetings.js" asp-append-version="true"></script>
</body>
</html>